# Open up firewall ports for mailcow
- name: Open firewall ports for mailcow
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    immediate: true
    state: enabled 
  loop: "{{ mail_ports }}"
  when: ansible_facts['os_family'] == 'RedHat'
  tags: mailcow

- name: Git Clone mailcow repository
  ansible.builtin.git:
    repo: "{{ mailcow_repo }}"
    dest: /opt/mailcow-dockerized
    version: master
    force: true
  when: inventory_hostname in groups['mail']
  tags: mailcow

- name: Create mailcow configuration file
  ansible.builtin.template:
    src: mailcow.conf.jinja2
    dest: /opt/mailcow-dockerized/mailcow.conf
  when: inventory_hostname in groups['mail']
  tags: mailcow

- name: Pull the mailcow images
  ansible.builtin.command:
    cmd: docker compose pull
  register: mailcow_images
  changed_when: mailcow_images.stdout != ''
  failed_when: mailcow_images.rc != 0
  args:
    chdir: /opt/mailcow-dockerized
  when: inventory_hostname in groups['mail']
  tags: mailcow

- name: Start mailcow containers
  ansible.builtin.command:
    cmd: docker compose up -d
  register: mailcow_start
  changed_when: mailcow_start.stdout != ''
  failed_when: mailcow_start.rc != 0
  args:
    chdir: /opt/mailcow-dockerized
  when: inventory_hostname in groups['mail']
  tags: mailcow